

@{

    ViewData["Title"] = "Result";
    var res = ViewBag.Res;
}
<h1>Result</h1>

<div>
    <h4>Your score</h4>
    <h4>@res</h4>
    </br>
    </br>
    </br>
<a asp-action="Index" >Back to List</a>
</div>


